<% content_for :fullscreen, true %>

<div class="flex h-full" data-controller="sidebar dm-search room-create room-browse room-settings">
  <%= turbo_stream_from "user_#{Current.user.id}_sidebar" %>
  <%= render "rooms/sidebar", room: @room, channels: @channels, direct_messages: @direct_messages %>

  <%# Main content %>
  <main class="flex-1 flex flex-col min-w-0">
    <%= render "rooms/header", room: @room %>

    <%# Messages %>
    <div 
      id="messages-container"
      class="flex-1 overflow-y-auto"
      data-controller="scroll"
      data-scroll-room-id-value="<%= @room.id %>"
    >
      <%= turbo_stream_from @room %>
      <div id="messages" class="py-4">
        <% if @messages.empty? %>
          <%= render partial: "rooms/empty_state", locals: { room: @room } %>
        <% else %>
          <% @messages.each do |message| %>
            <%= render partial: "messages/message", locals: { message: message } %>
          <% end %>
        <% end %>
      </div>
    </div>

    <%# Compose %>
    <div class="p-4 border-t-2 border-neutral-800">
      <%= render partial: "messages/form", locals: { room: @room, message: @message } %>
    </div>
  </main>

  <%= render "rooms/dm_search_modal" %>
  <%= render "rooms/create_room_modal" %>
  <%= render "rooms/browse_rooms_modal" %>
  <%= render "rooms/room_settings", room: @room, members: @members, policy: @policy %>
</div>
